@using MudBlazor
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudStack Row>
        <NavMenu />
        <main>
            @Body
        </main>
    </MudStack>
</MudLayout>